button {
  padding: 0.5rem;
  margin: 0.5rem;
}

select {
  width: 100%;
  max-width: 300px;
  margin: 25px 0 25px 0;
}

#bg {
  width: 100%;
  height: 103px;
  background-image: url("/images/bg.png");
}

.fast {
  animation: moveX 1s steps(10) infinite;
}

.normal {
  animation: moveX 2s steps(10) infinite;
}

@keyframes moveX {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -602px;
  }
}

.car {
  position: relative;
  top: 0;
}

.start {
  animation: shake 0.8s ease-in-out infinite;
}

@keyframes shake {
  0% {
    top: 0;
  }
  25% {
    top: 1px;
  }
  50% {
    top: -1px;
  }
  75% {
    top: 1px;
  }
  100% {
    top: 0;
  }
}
